<!DOCTYPE html>
<html>
  <head>
    <title>StudyRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css' %>
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div id="root"><%= yield %></div>
    <%= javascript_include_tag "https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
